html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -50px;
	/* Pad bottom by footer height */
	padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 50px;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 50px;
}

.social {
	position: absolute;
	top: 30px;
	left: 20px;
}

.social span {
	display: block;
}

.hidden {
	display: none;
}

/* INDEX.JSP */

.main-index #mascot-img,
.main-index #mascot-bubble {
	margin-top: 50px;
}

.main-index .mascot-img-container {
	text-align: right;
}

.main-index #mascot-bubble {
	border: 5px solid #555;
	padding: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-align: justify;
}

.main-index #mascot-bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -30px;
	top: 75px;
	border: 25px solid;
	border-color: transparent #555 transparent transparent;
}

.main-index #mascot-bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -24px;
	top: 75px;
	border: 25px solid;
	border-color: transparent #fff transparent transparent;
}

.main-index #signinButton {
	display: block;
	padding-top: 50px;
	margin-bottom: 75px;
	text-align: center;
}

.main-index #game-chooser {
	display: none;
	text-align: center;
}

.main-index .game-icon {
	margin-top: 75px;
}

/* PICTURE_GAME.JSP */

.main-picture .picture {
	margin-top: 50px;
}

.main-picture .picture-wrapper {
	background: url('../img/picture.png');
	background-size: 150px;

	width: 150px;
	height: 150px;

	border: 3px solid red;

	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	-khtml-border-radius: 75px;
	-o-border-radius: 75px;
	border-radius: 75px;

	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;

	transition: width 0.5s, height 0.5s, background-size 0.5s, margin-top 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, background-size 0.5s, margin-top 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, background-size 0.5s, margin-top 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s, background-size 0.5s, margin-top 0.5s, -o-transform 0.5s;
}

.main-picture .picture-wrapper.selected {
	width: 130px;
	height: 130px;
	background-size: 130px;
	margin-top: 10px;
}

.main-picture .picture-wrapper.over {
	/*width: 130px;
	height: 130px;
	background-size: 130px;*/
	
	border: 3px dashed red;
}

.main-picture .picture p {
	text-align: center;
	margin-top: 20px;
}